<div class="container">
<%= simple_form_for(flat) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :number_of_guests, collection: (1..20).to_a %>
  <%= f.input :price_per_night %>
  <%= f.submit "submit", class: "btn btn-primary" %>
<% end %>
</div>
